.heading{
    text-align:left;
    width:100%;
}
.heading button{
    border: 1px yellow ridge;
    float:right;
}
.heading h3{
    display: inline;
}

canvas{
    border-radius: 5%;
    box-shadow: 10 10 turquoise;
}